<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz app</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/fav.png" type="image/png">
</head>

<body>
    {{>nav}}
    <div class="main_page">
        <h1>Welcome to Quiz Op </h1>
    </div>
    <div class="username_container"  >
    

        <input  type="text" id="user_name" placeholder="Enter your name">
        
        <div id="start_btn">
            <button onclick="start()">Start</button>
        </div>


    </div>

    <main>
        <div class="container" id="main_container" style="display: none;">
            <div class="question" id="que">This is place for questions</div>
            <div class="option_container">
                <div tabindex="0" class="option" id="op1" onclick="option(1)" >
                <a >
                    <h6 id="op1_txt"> </h6>
                </a>
            </div>
                <div class="option" tabindex="1" onclick="option(2)">
                <a id="op2">
                    <h6 id="op2_txt"> </h6>
                </a>
            </div>
                <div class="option" tabindex="2" onclick="option(3)">
                <a id="op3">
                    <h6 id="op3_txt"> </h6>
                </a>
            </div>
                <div class="option" tabindex="3" onclick="option(4)">
                <a id="op4">
                    <h6 id="op4_txt"> </h6>
                </a>
            </div>
           
                </div>  
  

            <div class="togglebtns">
                <button id="next_btn"  onclick="next_ques()">Next</button>
                <button id="finish_btn"  style="display: none;" onclick="finish_ques()">Finish</button>
            </div>
        </div>
    </main>
    <div id="how_to_play">
        <h2>How to play this Quiz?</h2>
        <ul >
            <li>First Enter your name and start the Quiz</li>
            <li>Select your answers of all the questions</li>
            <li>
                After finishing copy the link and share it with your friends
            </li>
            <li>
                As soon as any person plays your quiz his/her score will be displayed to you
            </li>

        </ul>
    </div>
    <div id="share_link" style="display: none;">
        <h2 style="font-size: 2rem;">Congrats! 🙌 Your link is generated copy and share it with your friends 👇</h2>
        <input type="text" id="copy_link" value="https://quiz-app-ashish.herokuapp.com/" readonly>
        <div onclick="copy_the_link()"><button id="btn_copy">Copy Link</button></div>
    </div>
      <div class="players_section" id="players_section_id" style="display: none;" >
        <div>
            <h3>Your friends scores👇</h3>
        </div>
        <div>


        <table >
            <thead>

            <tr>
                <th>Name</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody id="players">
                {{!-- No players have answered your quiz share the link --}}
                    No players have answered your quiz share the link
                <tr>
                    

                    
            
          
                </tr>
               
            </tbody>
            
             
            
        </table>

        </div>
        <div ><button id="create_quiz"><a href="/create" style="font-size: 2rem;" >Create New Quiz</a> </button>
        </div>
    </div>

    {{>footer}}
</body>

<script src="/js/index.js"></script>

</html>