<footer>
    <div class="developer">
        Designed and developed by Ashish
    </div>
    <div class="footer_items">
        <li>Instagram</li>
        <li>Privacy Policy</li>
        <li>Copyright cc</li>
    </div>
</footer>