<header>
        <div class="navbar">
            <div class="logo"> Quiz Op</div>
            <div class="navitems">
                <li> <a href="/">Home</a> </li>
                <li> <a href="/about">About Us</a> </li>
                <li> <a href="/dare">Dares</a> </li>
                <li> <a href="#">Challenges</a> </li>

            </div>
        </div>
    </header>